*{
    box-sizing: border-box;
  }
  
  body{
    background:#0878a4;
    color:#070808;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
    
  }
  
  .h1,h2,h3{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  }

  .reg-form
  {
      padding-top:8%;
      max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    font-size: .8rem;
  }
  
  
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  
  .brand span{
    color:#fff;
    font-family: 'Poppins', sans-serif;
  }
  
 
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#e6d36a;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
    font-size: 1rem;
  }
  
  .contact{
    background:#f9feff;
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .contact form button{
    background:#1ecfd6;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }

  #source
  {
    width: 70%;
    height: 45%;
  }

  #veg, #region
  {
    width: 70%;
    height: 45%;
    margin-bottom: 10%;
  }
  #pg
  {
    width: 100%;
    height: 45%;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }